base_url=http://local_hostname
hostname=http://remote_hostname
default_alias=profile
secret_key=SECRET
session_lifetime=36000
default_language=English
template=default
controllers=default
log_directory=logs
debug_file_name=frontend.log
third_part_product_report_enable=1
problem_report_debug_log_enable=1
wrapper_log_report_enable=1
log_level_frontend=ONAPP_E_FATAL
log_level_php=E_ERROR
log_rotation_days=1
log_rotation_size=12
smarty_template_dir=templates
smarty_compile_dir=templates_c
smarty_cache_dir=cache
smarty_caching_enable=0
smarty_caching_lifetime=3600
smarty_force_compile=2
smarty_compile_check=1
