/*CSS document*/

html,body,*{margin:0;padding:0; }
body
{
    font: 76% verdana,sans-serif;
    text-align:center; 
    height: 100%;       
    background:url('../images/bg.png')
}
img
{
    border:none; 
}

p
{
    margin:0 10px 10px
}

a
{
    display:block
}
h1
{
    color:#505050;
    font-size:15px;
    padding:10px;
    background:url('../images/table_page_header.png' ) no-repeat bottom;
}

div#header
 {
    margin:0 auto;
    width:945px;
    height:80px;
    padding:10px;
    color: #79B30B
}

div#header img
{
    padding-top:25px;
    float: left
}
div#header2_left
{
    color: #605F60;
    font-size: 16px;
    font-weight: bold;
    float:left;
    width:240px;
    height:40px;
}

div#header2_right
{
    color: #605F60;
    font-size: 16px;
    font-weight: bold;
    float:left;
    width:715px;
    height:25px;
    padding-top:15px;
    padding-left:10px;
}



div#container{
    width:965px; 
    margin:0 auto;
    height:auto;
    background:url(../images/container.png);
    text-align:left;
    margin-bottom:10px;
    padding-bottom:40px
}

div#content p
{
    line-height:1.4em
}

div#navigation
{
    float:left;
    width:240px; 
    padding-top:10px; 
    padding-bottom:70px;  
    height:auto
}


div#navigation ul
{
    list-style-type: none; list-style-position: outside;
}

div#navigation ul li{
    width:200px; 
    height:20px
}

div#navigation ul li a:link, div#navigation ul li a:hover, div#navigation ul li a:visited
{
     width:180px; text-decoration:none; color:#eeeeee
}

div#content
{
    float:right;
    width:725px;
   
    height:auto; 
}

#login_error, .onapp_error, .onapp_msg
{
    border-bottom: 3px solid #F5B0B3;
    display:block;
    background:#FBE3E4;
    padding:10px 10px;
}

.onapp_error, .onapp_msg
{   
    float:right;
    width: 705px;
}

.onapp_msg
{    
    background:#E6EFC2;
    border-bottom: 3px solid #B6CC6E;
}

div#login_info
{
    width:140px;
    height:20px;
    float:left;
   
}

a:link, a:visited, a:hover
{
    margin-left:0;
    /*font-weight:bold;*/
    color:#000000;
}

div#navigation a
{
  margin-bottom:5px;
  width:100px;
  height:13px;
  padding:2px;
  float:right;
}

div#login_info a
{
  margin-bottom:5px;
  width:100px;
  height:13px;
  padding:2px;
  float:right;
  color:#ffffff;
}

.li_1 {padding-left: 10px;}
.li_2 {padding-left: 20px;}
.li_3 {padding-left: 30px;}

.li_1 a, .li_2 a, .li_3 a{font-weight:normal;}

.table_my {background:#f6f6f6; border:1px solid #c2c2c2; margin-top: 5px; line-height:1.875em; width:100%}
.table_my tr td
{
    border-right: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    padding: 6px 4px;
    font-weight:normal;
    background: #ffffff;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", helvetica, arial, verdana, sans-serif
}
dl dd{font: bold 14px helvetica, arial, sans-serif; color: #505050}

.table_my tr td.dark_td, .table_my tr td.tree_icon_td, .table_my tr td.five_icon_td, .table_my tr td.one_icon_td
{
    background:#a1a1a1; 
    width:40px;
    padding:6px 10px;
}
.dark_td img, .tree_icon_td img, .five_icon_td img, .one_icon_td img
{
    float:left;
    padding-left:3px;    
}

.table_my tr td.tree_icon_td {width: 60px}
.table_my tr td.five_icon_td {width: 100px}
.table_my tr td.one_icon_td {width: 5px; padding:2px;margin-top:3px;}
.table_my tr td.one_icon_td img{margin-bottom:5px; vertical-align: top;}



.table_my tr td.blue {
    background: #F4F4F4;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", helvetica, arial, verdana, sans-serif;
    font-size: 12px;
    padding: 5px 4px 7px;
    border-right: 1px solid #F0F0F0;
    border-bottom: 1px solid #D9D9D9;
    width:100px;
}

table.table_my td.blue a:link , .table_my td.blue a:visited{
    font-weight:normal;
}


.table_my tr th
{
   color: #4A4A4A;
   text-shadow: 0 1px 0 white;
   font-weight:bold;
   font-weight: bold;
   padding: 3px 4px;
   background: #D1D1D2 url(../images/table_header.png) repeat-x scroll center top;
   border-right: 1px solid #C8C8C8 ; 
    /* border-top: 1px solid #C2C2C2; */
}

.table_page
{
   
    
    padding:15px 10px 25px;
    color:#505050;
    font-size:15px;   
}
.table_page tr td
{
    width:50%
}

/********************************************************************************/

a.power.off_inactive
{
background: transparent url(../images/power-bg.png) no-repeat scroll -64px 0;

}

a.power {
float: left;
display: block;
width: 31px;
height: 19px;
margin-left: 3px;
text-decoration: none;
text-align: center;
/*color: #555 !important;*/
cursor: default;
text-shadow:0 0 0;
font-weight:normal;
}


a.power.off-inactive:hover 
{
    background: transparent url(../images/power-bg.png) no-repeat scroll -64px 0;
}

a.power.on-inactive:hover{
    background: transparent url(../images/power-bg.png) no-repeat scroll -32px 0;
}

a.power.off-active {
background: transparent url(../images/power-bg.png) no-repeat scroll -128px 0;
color:#ffffff;

}


a.power.on-active {
    background: transparent url(../images/power-bg.png) no-repeat scroll -96px 0;
    color:#ffffff;
}

a.power.on-inactive, a.power.off-inactive, a.power.on-disabled, a.power.off-disabled 
{
    background: transparent url(../images/power-bg.png) no-repeat scroll 0 0;
    color: #555; 
    
}

a.power.on-inactive:hover, a.power.off-inactive:hover 
{
    cursor: pointer;
    color: #FAFAFA !important;
}

.table_my tr td.power_td 
{
    width:72px;
    background: #f4f4f4;
}

.table_my tr td.lamp
{
    width:17px;
    background: #f4f4f4;
}
label
{
    float: left;
    color: #505050;
    font: bold 14px helvetica, arial, sans-serif;
    display: block;
    white-space: nowrap;
    padding: 7px 5px 7px 10px;
    min-width: 125px;
    width: auto;
}

.div_page
{
    padding:15px 15px 25px;
}


a.power.pending {
background: transparent url(../images/power-bg.png) no-repeat scroll -160px 0;
width: 65px;
overflow:hidden;
color: #909090 !important;
}

/***************************************************************************************/


input[type=submit] 
{
    background: transparent url(../images/button-bg.png) repeat-x scroll 0 -100px;
    margin-left:10px;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px 20px 9px;
    color: #333;
    text-shadow: 0 1px 0 white;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", helvetica, arial, verdana, sans-serif;
    line-height: 16px;
    font-size: 11px;
    border: 0;
    margin-top:10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    cursor: pointer;  
}

.info
{
  
  margin-left:5px;
  color:#484637;
  clear:both;
  margin-top:10px; 
}

.info_title
{
    
    background: url(../images/info_title.png) no-repeat;
    padding:6px;
    font-weight:bold;
}

.info_body
{
    padding:10px; 
    background: url(../images/info_body.png) no-repeat;
}
.info_bottom
{
    background: url(../images/info_bottom.png) no-repeat;
    height:10px;
}

#login
{
    margin:0 auto;
    margin-top:11%;
    background:url(../images/login.png);
    width:725px;
    height:434px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#in_login
{
    padding-top:20px;
    position:relative;
}

#login_logo{
    position: relative;
    margin-left:10px;
    margin-top:10px;
    background:url(../images/OnApp.png);
    width: 211px;
    height:49px;
}

div#header a
{
    float:left;
    color:#ffffff;  
    margin-top:35px; 
    float:right; 
    font-weight:bold; 
    text-decoration:none;
}


div dl dt {
font-weight: bold;
float: left;
color: #505050;
min-width: 160px;
width: auto;
vertical-align: middle;
}
dl dt {
font-weight: bold;
text-align: left;
}
dl{clear:both; padding:10px 0;}

dt {
display: block;
}
Inherited from dl
fieldset dl {
font: normal 14px helvetica, arial, sans-serif;
white-space: nowrap;
}
.form-table
{
    border-top: 1px solid whiteSmoke;
    border-bottom: 1px solid #CCC;
    padding: 5px 20px;
    
}
.form-table td.label {
color: #4D4D4D;
font-weight: bold;
}

.form-table td, .not_found {
color: #656565;
font-size: 13px;
text-shadow: 0 1px 0 white;
}

th, td, caption
{
    padding: 4px 10px 4px 5px;
    vertical-align: middle;
    text-align: left;
}

.table_buttons
{
    border: 1px solid #CFCFCF;
    margin: 25px 0;
    padding: 10px 0;
}


.table_buttons tr td a:link, .table_buttons tr td a:visited
{
    text-shadow: 0 1px 0 #ffffff;
    font-weight:bold;
    text-decoration: none;
    color: #656565;
    font-size: 13px;
}
.table_buttons tr td a:hover{text-decoration:underline}


.action_edit a, .action_reboot a, .action_off a, .action_rebuild a,
.action_on a, .action_delete a, .action_build a  
{
    margin-top:-3px;
    padding-left:20px;
}

.login_icon, .template_icon, .host_icon, .status_icon
{
    margin-top:-3px;
    padding-left: 30px
}
.action_edit
{
    background:url(../images/action_icons.png) 0 -98px no-repeat;   
}
.action_reboot
{
    background:url(../images/action_icons.png) 0 -248px no-repeat;    
}

.action_rebuild
{
    background:url(../images/action_icons.png) 0 -398px no-repeat;    
}

.action_build
{
    background:url(../images/action_icons.png) 0 -399px no-repeat;    
}

.action_off
{
    background:url(../images/action_icons.png) 0 -148px no-repeat;
}

.action_delete
{
    background:url(../images/action_icons.png) 0 -348px no-repeat;
}

.action_on
{
    background:url(../images/action_icons.png) 0 -48px no-repeat;
}

.login_icon
{
    background:url(../images/label_icons.png) 0 -60px no-repeat;
}

.host_icon
{
    background:url(../images/label_icons.png) 0 -0px no-repeat;
}

.status_icon
{
    background:url(../images/label_icons.png) 0 -30px no-repeat;
}

.template_icon
{
    background:url(../images/label_icons.png) 0 -90px no-repeat;
}


.not_found
{
    padding: 25px 250px;    
}
.chart{padding-left: 8px; padding-top:10px}
.dt_checkbox{/*padding-bottom: 30px;*/}
.two tr td{width:50%}
.two input[type=submit]{margin: 10px 0}
.two {border-bottom:none}

.table_my tr td.complete {
background: #CCEBD2 url(../images/status.png) no-repeat scroll right -235px;
border-bottom: 1px solid #B0CEB6;
border-left: 1px solid #C0DEC6;
border-right: 1px solid #C0DEC6;
width: 80px;
color: #475349;
}

.table_my tr td.failed {
background: #E6DED2 url(../images/status.png) no-repeat scroll right -393px;
border-bottom: 1px solid #D7BBAE;
border-left: 1px solid #E7CBBE;
border-right: 1px solid #E7CBBE;
width: 80px;
color: #A22F21;
}

.table_my tr td.cancelled {
background: #E1E1E1 url(../images/status.png) no-repeat scroll right -78px;
border-bottom: 1px solid silver;
border-left: 1px solid #D0D0D0;
border-right: 1px solid #D0D0D0;
width: 80px;
color: #555;
}

.table_my tr td.running {
background: #FCFBBE url(../images/loadinfo.gif) no-repeat scroll right;
border-bottom: 1px solid #CEC5B0;
border-left: 1px solid #DEDAC0;
border-right: 1px solid #DEDAC0;
width: 80px;
color: #96683A;
}

#pagination a, #pagination em {
display: inline-block;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background: #F2F2F2;
border: 1px solid #BBB;
color: #333;
padding: 2px 5px;
height: 14px;
text-decoration: none;
}

form div#pagination a, form div#pagination em {
    margin-left:4px;
}
#pagination {border-top: 1px solid whiteSmoke; font-weight:normal;
    border-bottom: 1px solid #CCC;
    padding: 5px 20px; padding-left:20%; margin-top:10px;}
#log_details{border:1px solid #d6d6d6; overflow:auto; margin-left:10px; width:680px; height:450px; padding:10px; /* background:#000000; color:#17F017;*/ font-size:14px;}

#pagination em {
background: #535457;
border: 1px solid #222;
color: white;
font-style: normal;
font-weight: normal;
line-height: 16px;
}
#pagination a{font-weight:normal; font-size:10px;}
p.second_level_description{padding:10px;}

.table_my tr td.enabled {
background: #CCEBD2 url(../images/status.png) no-repeat scroll right -235px;
border-bottom: 1px solid #B0CEB6;
border-left: 1px solid #C0DEC6;
border-right: 1px solid #C0DEC6;
width: 80px;
color: #475349;
}
.table_my tr td.disabled {
background: #E1E1E1 url(../images/status.png) no-repeat scroll right -78px;
border-bottom: 1px solid silver;
border-left: 1px solid #D0D0D0;
border-right: 1px solid #D0D0D0;
width: 80px;
color: #555
}
