
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
margin-bottom: 14px;
padding: 4px 4px 5px 9px;
padding-top: 4px;
padding-right: 4px;
padding-bottom: 5px;
padding-left: 9px;
border: 2px solid #78AED9;
border-top-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-left-width: 2px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #78AED9;
border-right-color: #78AED9;
border-bottom-color: #78AED9;
border-left-color: #78AED9;
}
input[type="text"], input[type="file"], input[type="password"], select, textarea {
color: #505050;
font: bold 15px helvetica, arial, sans-serif;
background: white url(/images/form/field-bg.png) repeat-x scroll top center;
background-image: url(http://109.123.105.162/images/form/field-bg.png);
background-repeat-x: repeat;
background-repeat-y: no-repeat;
background-attachment: scroll;
background-position-x: 50%;
background-position-y: 0%;
background-origin: initial;
background-clip: initial;
background-color: white;
margin-top: 1px;
margin-bottom: 15px;
padding: 5px 5px 5px 10px;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 10px;
border: 1px solid #C1C1C1;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #C1C1C1;
border-right-color: #C1C1C1;
border-bottom-color: #C1C1C1;
border-left-color: #C1C1C1;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-bottom-left-radius: 5px 5px;
width: 310px;
}

:focus {
outline: none;
}



element.style {
opacity: 0;
}
Matched CSS Rules
div.checker input {
opacity: 0;
display: inline-block;
background: none;
left: 5px;
position: relative;
top: 8px;
}
div.checker input {
width: 26px;
height: 26px;
}
input[type="checkbox"], input[type="radio"], input.checkbox, input.radio {
float: left;
}
.selector, .radio, .checker, .uploader, .selector *, .radio *, .checker *, .uploader * {
margin: 0;
padding: 0;
}


